# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

assets/
cache/
debug/
/data/characters.json
/data/hash_index_characters.json
/data/hash_index_weapons.json
/data/manifest.json
/data/weapons.json
/data/
/test/
